<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>Friend Finder</h1>
  				<p>The compatibilty game where you find friends who are most like you!</p>
  				<p><a class="btn btn-primary btn-lg" href="/survey" role="button">Take the Survey!</a></p>
			</div>
		</div>
	</div>