<div class="container">
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-5"> <!-- all survey contents go in here -->
			
				<h2>Friend Finder Compatibilty Survey</h2>
				
				<h3>About You</h3>
				<form>
				  <div class="form-group">
				    <label for="name">Name (Required)</label>
				    <input type="text" class="form-control" id="name">
				  </div>
				  <div class="form-group">
				    <label for="photo">Link to Photo Image (Required)</label>
				    <input type="text" class="form-control" id="photo">
				  </div>
				  <hr>

				  <h3>Question 1</h3>
				  <div class="form-group">
				    <label for="q1">Your mind is always buzzing with unexplored ideas and plans.</label>
				    <select class="form-control" id="q1">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  

				  <h3>Question 2</h3>
				  <div class="form-group">
				    <label for="q2">Generally speaking, you rely more on your experience than your imagination.</label>
				    <select class="form-control" id="q2">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  

				  <h3>Question 3</h3>
				  <div class="form-group">
				    <label for="q3">You find it easy to stay relaxed and focused even when there is some pressure.</label>
				    <select class="form-control" id="q3">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				 

				  <h3>Question 4</h3>
				  <div class="form-group">
				    <label for="q4">You rarely do something just out of sheer curiosity.</label>
				    <select class="form-control" id="q4">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  

				  <h3>Question 5</h3>
				  <div class="form-group">
				    <label for="q5">People can rarely upset you.</label>
				    <select class="form-control" id="q5">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  

				  <h3>Question 6</h3>
				  <div class="form-group">
				    <label for="q6">It is often difficult for you to relate to other people’s feelings.</label>
				    <select class="form-control" id="q6">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  

				  <h3>Question 7</h3>
				  <div class="form-group">
				    <label for="q7">In a discussion, truth should be more important than people’s sensitivities.</label>
				    <select class="form-control" id="q7">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  

				  <h3>Question 8</h3>
				  <div class="form-group">
				    <label for="q8">You rarely get carried away by fantasies and ideas.</label>
				    <select class="form-control" id="q8">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
	

				  <h3>Question 9</h3>
				  <div class="form-group">
				    <label for="q9">You think that everyone’s views should be respected regardless of whether they are supported by facts or not.</label>
				    <select class="form-control" id="q9">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  

				  <h3>Question 10</h3>
				  <div class="form-group">
				    <label for="q10">You feel more energetic after spending time with a group of people.</label>
				    <select class="form-control" id="q10">
				      <option value=""></option>
					  <option value="1">1 (Strongly Disagree)</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5 (Strongly Agree)</option>
					</select>
				  </div>
				  <hr>
				  <!-- Button trigger modal -->
				  <button type="submit" class="btn btn-lg" id="submitSurvey" data-toggle="modal" data-target="#resultsModal" data-show="">Submit</button>

				</form>

			</div> <!-- end of survey content -->
			<div class="col-md-2"></div>
		</div>
</div>


<!-- Modal -->
<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resultsModalLabel">Friendfinder Perfect Match!</h4>
      </div>
      <div class="modal-body" id="results-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button data-target="/survey" type="button" class="btn btn-default" data-dismiss="modal">Retake Survey</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	
// /* global moment */

  // Send an AJAX POST-request with jQuery
 

    // Capture the form inputs 
    $("#submitSurvey").on("click", function(event){

      // Form validation
      function validateForm() {
      var isValid = true;
      $('.form-control').each(function() {
        if ( $(this).val() === "" )
            isValid = false;
      });
      return isValid;
    }

    // If all required fields are filled
    if (validateForm() == true)
    {
      // Create an object for the user's data
        var friendsData = {
          name: $("#name").val(),
          photo: $("#photo").val(),
          scores: [$("#q1").val(), $("#q2").val(), $("#q3").val(), $("#q4").val(), $("#q5").val(), $("#q6").val(), $("#q7").val(), $("#q8").val(), $("#q9").val(), $("#q10").val(), ]
        }
        console.log(friendsData);
        

        
        // Send an AJAX POST-request with jQuery
		  $.post("/api/friends", friendsData)
		    // On success, run the following code
		    .done(function() {

		    // show modal with results of survey
        	$("#resultsModal").modal('toggle');
		    
        	var row = $("<div>");
      		
		      row.append("<p>Hey " + friendsData.name + " you are matched with:</p>");
		      // row.append("<img src=" + friendsData.photo + "></img>");

		      $("#results-body").prepend(row);

		      // if (){
		      // 	// do something
		      // }

		    });


		    $.get("/api/friends", function(data) {

			  

			    // for (var i = 0; i < data.length; i++) {

			      var row = $("<div>");

			      row.append("<h2>" + data[3].name + "</h2>");
			      row.append("<img src="+ data[3].photo +" height='200' width='250'>");

			      $("#results-body").append(row);

			    // }

	

			});

		  // Empty each input box by replacing the value with an empty string
		  $("#name").val("");
		  $("#photo").val("");
		  $("#q1").val("");
		  $("#q2").val("");
		  $("#q3").val("");
		  $("#q4").val("");
		  $("#q5").val("");
		  $("#q6").val("");
		  $("#q7").val("");
		  $("#q8").val("");
		  $("#q9").val("");
		  $("#q10").val("");
    }
    else
    {
      alert("Please fill out all fields before submitting!");
    }
      
      return false;
});	








</script>
